<div class="container">
    <form class="form" action="{{urls.search}}" method="get">
        <fieldset class="form-fieldset">
            <div class="form-field">
                <label class="is-srOnly" for="header-search-input">{{lang "search.quick_search.input_label"}}</label>
                <input class="form-input"
                       type="text"
                       name="search_query"
                       id="header-search-input"
                       placeholder="{{lang 'search.quick_search.input_placeholder'}}"
                       autocomplete="off"
                       required
                >
                <button type="submit" class="search-button">Search</button>
            </div>
        </fieldset>
    </form>
    <section class="quickSearchResults" data-bind="html: results"></section>
</div>
